*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    height: 400px;
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;

    border: 0px solid transparent;

    background: 
        linear-gradient(black, black) padding-box,
        conic-gradient(
            from var(--rotate),
            black,
            rgb(239, 14, 14),
            black
        ) border-box;

    animation: borderAnimate 5s linear infinite;
    animation-play-state: paused;

    transition: all 0.3s linear;

    box-shadow: 0 0 0px rgb(218, 27, 27);

    color: whitesmoke;
    text-shadow: 0 0 0px rgb(214, 45, 45);
}

.box:hover{
    animation-play-state: running;
    box-shadow: 0 0 50px rgb(214, 45, 45);

    color: rgb(214, 45, 45);
    text-shadow: 0 0 30px rgb(214, 45, 45);
}

.box img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    mix-blend-mode: screen;
}

h1{
    color: inherit;
    font-weight: 600;
    padding-left: 55px;
    padding-top: 20px;
}

p{
    color: inherit;
    padding-top: 30px;
    padding-left: 10px;
    font-size: smaller;
}